<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layoutBase">
<head>
<title>Solicitar Consulta</title>
<link rel="stylesheet" th:href="@{http://www.w3schools.com/lib/w3.css}"></link>
<link rel="stylesheet" th:href="@{/css/login.css}"></link>
<link rel="stylesheet" th:href="@{/css/solicitacaoConsulta.css}"></link>
</head>

<section layout:fragment="content">
	<!-- Conteudo da pagina vai aqui -->
	<div class="container">
		<div class="row">

			<div class="alert  alert-success  alert-dismissible" role="alert"
				th:if="${not #strings.isEmpty(mensagemSucesso)}">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
				</button>

				<span th:text="${mensagemSucesso}"></span>
			</div>

			<div class="col-sm-6 col-md-4 col-md-offset-4">
				<div class="row">
					<h1 class="text-center">Solicitar consulta</h1>
				</div>				
				<div class="account-wall">					
					<form method="POST" th:object = "${solicitacaoConsulta}">
						<div class = "form-group" th:classappend="${#fields.hasErrors('encaminhadoPor')} ? has-error">				
							<label for="encaminhadoPor" class = "control-label">Encaminhado por (Obrigatório)</label>
							<select id = "encaminhadoPor" name = "encaminhadoPor" class="form-control" required = "required" autofocus="autofocus" th:field="*{encaminhadoPor}">
								<option th:each="encaminhamento : ${tipoEncaminhamento}" th:value="${encaminhamento}" th:text="${encaminhamento.encaminhamento}"></option>
							</select>
						</div>
						
						<div class = "form-group" th:classappend="${#fields.hasErrors('motivo')} ? has-error">
							<label for="motivo" class = "control-label"> Qual o motivo da solicitação para o acompanhamento? (Obrigatório)</label>
							<textarea id = "motivo" class = "form-control textArea" placeholder="Digite o motivo para o acompanhamento." required = "required" th:field="*{motivo}"></textarea>
						</div>
						
						<div class = "form-group" th:classappend="${#fields.hasErrors('melhorDia')} ? has-error">
							<label for="melhorDia" class = "control-label">Melhor dia para o acompanhamento (Obrigatório)</label>					
							<input type="text" id = "melhorDia" name="melhorDia" class="form-control" placeholder="DD/MM/AAAA" required="required" th:field="*{melhorDia}"></input>
						</div>
						
						<div class = "form-group" th:classappend="${#fields.hasErrors('melhorPeriodo')} ? has-error">
							<label for="melhorPeriodo" class = "control-label">Melhor período para o acompanhamento</label>
							<select id = "melhorPeriodo" class="form-control" th:field="*{melhorPeriodo}">
								<option th:each="periodo : ${tipoPeriodo}" th:value="${periodo}" th:text="${periodo.periodo}"></option>
							</select>
						</div>
									
						<button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
</html>